*{
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
}
body {
    background-color: #DEDEDE;
    color: #3C3B3B;
    font-size: 62.5%;
}
ul,ol {
    list-style:  none;
}
a:link, a:visited, a:hover, a:active {
    color:#3C3B3B;
    text-decoration: none;
}
p {
    font-size: 1.2em;
}
 /*スマホ*/
 @media screen and (max-width: 599px) {
}
/*タブレット*/
@media screen and (min-width: 560px ) and (max-width: 959px) {
  p {
      font-size: 1.4em;
  }
}
/*PC*/
@media screen and (min-width: 960px) {
  p {
      font-size: 1.6em;
  }
}